.create-user-page {
    display: flex;
    align-items: center;
    flex-direction: column;

    header {
        margin: 20px;
        font-size: 32px;
    }

    main {
        div {
            display: flex;
            margin-bottom: 5px;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    footer {
        margin: 20px;
    }

}